<!DOCTYPE html><!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="es-CO"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="es-CO"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="es-CO"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es-CO"> <!--<![endif]-->
<head>
<meta charset="UTF-8">
<title>Absolut Facet</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<meta type="description" content="Una botella edición limitada que, con su diseño asimétrico y unos bordes cortados como una gema, crean un número de caras que capturan y reflejan la luz de una forma única, simbolizando todas las facetas en las que las #AbsolutNights pueden llevarte">
<link href="https://fonts.googleapis.com/css?family=Muli:300|Raleway:600,900&amp;subset=latin-ext" rel="stylesheet"> 
<link href="css/magnific-popup.css" rel="stylesheet" type="text/css">
<link href="css/animate.css" rel="stylesheet" type="text/css">
<link href="css/main.css" rel="stylesheet" type="text/css">

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TWDKQD');</script>
<!-- End Google Tag Manager -->


 <!--[if lt IE]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="js/modernizr-2.6.2.min.js"></script>

</head>

<body>

<div class="topBar alignCenter"><a href="index.php" target=""><img src="images/absolut_logo.gif" alt="Absolut" title="Absolut"/></a>
</div>

<div class="columnWidth sectionBTNS_top">
	<a href="eventos.php" class="topBtn alignCenter" id="topBtn_01">eventos</a>
    <!-- <a class="midSpace">&nbsp;</a> -->
    <a class="topBtn alignCenter active" id="topBtn_02">galería</a>
    <!-- <a class="midSpace">&nbsp;</a> -->
    <a href="productos.php" class="topBtn alignCenter" id="topBtn_03">comprar</a>
</div>

<h1 class="columnWidth alignCenter sectionTXTS_upperTXT" id="galleryTxt">nombre del evento</h1>
<div class="columnWidth alignCenter sectionTXTS_TITLE" id="galleryTitle"><img src="images/absolut_txt.png" width="224" height="46" alt="ABSOLUT"/></div>

<div class="columnWidth gallery" id="galleryContent">

    <div class="alignCenter galleryModule">
        <a href="images/galeria/1.jpg">
            <img src="images/galeria/1.jpg" alt=""/>
        </a>
    </div>

     <div class="alignCenter galleryModule">
        <a href="images/galeria/2.jpg">
            <img src="images/galeria/2.jpg" alt=""/>
        </a>
    </div>

     <div class="alignCenter galleryModule">
        <a href="images/galeria/3.jpg">
            <img src="images/galeria/3.jpg" alt=""/>
        </a>
    </div>

     <div class="alignCenter galleryModule">
        <a href="images/galeria/4.jpg">
            <img src="images/galeria/4.jpg" alt=""/>
        </a>
    </div>

     <div class="alignCenter galleryModule">
        <a href="images/galeria/5.jpg">
            <img src="images/galeria/5.jpg" alt=""/>
        </a>
    </div>

     <div class="alignCenter galleryModule">
        <a href="images/galeria/6.jpg">
            <img src="images/galeria/6.jpg" alt=""/>
        </a>
    </div>

     <div class="alignCenter galleryModule">
        <a href="images/galeria/7.jpg">
            <img src="images/galeria/7.jpg" alt=""/>
        </a>
    </div>

     <div class="alignCenter galleryModule">
        <a href="images/galeria/8.jpg">
            <img src="images/galeria/8.jpg" alt=""/>
        </a>
    </div>
   
     
</div>

<div class="footer">
    <div class="footer_logo alignCenter"><img src="images/absolut_logo.gif" width="128" height="31"  alt="Absolut" title="Absolut"/></div>
    <div class="footer_links alignCenter"><a href="http://www.absolut.com/co/Terminos-y-Condiciones-de-Uso/" target="_blank">Terms &amp; Conditions</a> • <a href="http://www.absolut.com/co/privacy-policy/" target="_blank">Privacy Policy</a> • <a href="http://www.absolut.com/co/Responsabilidad-de-todos-los-sitios-web-de-The-Absolut-Company/" target="_blank">Responsibility Statement</a></div>
    <div class="footer_legals alignCenter"><img src="images/legals.gif" style="max-width:100%;height:auto;" alt="Prohíbese el expendio de bebidas embriagantes a menores de edad. el exceso de alcohol es perjudicial para la salud. Si tomas, no manejes." title="Prohíbese el expendio de bebidas embriagantes a menores de edad. el exceso de alcohol es perjudicial para la salud. Si tomas, no manejes."/></div>
</div>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TWDKQD"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<script src="js/libs.min.js"></script>
<script src="js/functions.js"></script>
<script src="js/facet.gallery.js"></script>
</body>
</html>
